<h1><%= @teacher.name %></h1>
<dl>

    <% if @teacher.profile_picture.attached? %>
    <dt>Foto de perfil</dt>
    <dd><%= image_tag @teacher.profile_picture %></dd>
    <%end%>

    <dt>Bio</dt>
    <dd><%= @teacher.bio %></dd>
    <dt>Email</dt>
    <dd><%= @teacher.email%></dd>
</dl>

<%= link_to "Voltar", :back %>