<h1><%= @course.name %></h1>
<dl>
    <dd><%= image_tag @course.banner %></dd>
    <dt>Descrição</dt>
    <dd><%= @course.description %></dd>
    <dt>Professor</dt>
    <dd><%= @course.teacher.name %></dd>
    <dt>Preço</dt>
    <dd><%= number_to_currency_brl @course.price %></dd>
    <dt>Data de matríicula</dt>
    <dd><%= I18n.localize @course.enrollment_deadline %></dd>
    <dt>Código</dt>
    <dd><%= @course.code %></dd>
    <% unless @course.categorie.nil? %>
    <dt>Categoria</dt>
    <dd><%= @course.categorie.name %></dd>
    <% end %>

</dl>

<%if student_signed_in? %>
<% if  @course.enrollment_deadline < Date.today %>
<p>Praso de inscrição de curso terminou</p>
<% else%>
<% unless current_student.courses.include?(@course)%>
<%= link_to "Comprar", enroll_course_path, method: :post %>
<% end %>
<% end %>
<%else%>
<p>Faça <%= link_to "login", new_student_session_path %> para comprar esse curso </p>
<%end%>

<% if student_signed_in? and current_student.courses.include?(@course) %>
<h1>Aulas</h1>
<% if @lectures.empty? %>
<h1>Nenhuma aula disponível</h1>
<%else%>
<ul>
    <% @lectures.each do |lecture|%>
    <li>
        <%= link_to lecture.name, course_lecture_path(@course, lecture) %>
        <p><%= lecture.description%></p>
        <p><%= t('lectures.time', count: lecture.time) %> </p>
        </div>
    </li>
    <%end%>
</ul>
<% end %>
<% end %>


<%= link_to "Voltar", courses_path %>