<h1><%= @course.name %></h1>

<%= link_to "Editar", [:edit, @course] %>
<%= link_to "Deletar", @course, method:'delete' %>
<dl>
    <dd><%= image_tag @course.banner %></dd>
    <dt>Descrição</dt>
    <dd><%= @course.description %></dd>
    <dt>Professor</dt>
    <dd><%= @course.teacher.name %></dd>
    <dt>Preço</dt>
    <dd><%= number_to_currency_brl @course.price %></dd>
    <dt>Data de matríicula</dt>
    <dd><%= I18n.localize @course.enrollment_deadline %></dd>
    <dt>Código</dt>
    <dd><%= @course.code %></dd>
</dl>

<%if user_signed_in? %>
<% if  @course.enrollment_deadline < Date.today %>
<p>Praso de inscrição de curso terminou</p>
<% else%>
<% unless current_user.courses.include?(@course)%>
<%= link_to "Comprar", enroll_course_path, method: :post %>
<% end %>
<% end %>
<%else%>
<p>Faça <%= link_to "login", new_user_session_path %> para comprar esse curso </p>
<%end%>

<% if user_signed_in? and current_user.courses.include?(@course) %>
<h1>Aulas</h1>
<%= link_to "Cadastrar uma aula", new_course_lecture_path(@course) %>
<% if @lectures.empty? %>
<h1>Nenhuma aula disponível</h1>
<%else%>
<ul>
    <% @lectures.each do |lecture|%>
    <li>
        <%= link_to lecture.name, course_lecture_path(@course, lecture) %>
        <p><%= lecture.description%></p>
        <p><%= t('lectures.time', count: lecture.time) %> </p>
        <div>
            <%= link_to "Deletar", course_lecture_path(@course, lecture), method: :delete %>
            <%= link_to "Editar", edit_course_lecture_path(@course, lecture) %>
        </div>
    </li>
    <%end%>
</ul>
<% end %>
<% end %>


<%= link_to "Voltar", courses_path %>