<h2>Categorias</h2>
<ul>
    <% @categories.each do |categorie|%>
    <li><%= link_to categorie.name, categorie %></li>
    <% end %>
</ul>

<% if @courses.blank? %>
<h1>Nenhum curso disponível</h1>
<%end%>
<%= @categorie.name %>
<% @courses.each do |course| %>
<h1><%= link_to course.name, course_path(course) %></h1>
<h2><%= course.teacher.name%></h2>
<%= image_tag course.banner %>
<p><%= course.description%></p>
<p><%= number_to_currency course.price %></p>
<%end%>

<%= link_to "Voltar", root_path %>